footer {
	padding: 18px 0 18px 24px;

	
	width: 100%;
	
	border-top: 1px solid #e9ecef;

	background-color: #f8f9fa;
	font-size: 12px;

	#link {
	}

	#note {
		color: gray;
		margin-top: 8px;
	}

	#social {
	}
}