nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;

	padding: 14px 30px;

	background-color: #f5f5f5;

	#logo img {
		display: flex;
		align-content: center;
		justify-content: center;
		align-items: center;

		width: 60px;
	}

	#search {
		display: flex;
		align-content: center;
		justify-content: center;
		align-items: center;

		input {
			width: 310px;
			height: 40px;

			border: 2px solid black;
			border-right-width: 0;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		button {
			width: 40px;
			height: 40px;

			background-color: #cdefff;

			border: 2px solid black;
			border-left-width: 1px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;

			cursor: pointer;

			&:hover {
				background-color: #b3e6ff;
			}
		}
	}

	#profile {
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: center;
		align-items: center;

		svg {
			margin: 0 auto;
		}
	}
}

nav {
	a {
		text-decoration: none;
		color: black;
	}
}