@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");



*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Noto Sans KR", sans-serif;

	input, textarea, button {
		font-family: "Noto Sans KR", sans-serif;
	}


	button {
		background: none;
		color: inherit;
		border: none;
		cursor: pointer;
		outline: inherit;
	}

	li {
		list-style: none;
	}

	input:focus {
		outline: none;
	}

	input[type="number"] {
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	h1 {
		margin: 20px 0;
	}

	.divider {
		margin: 0 7px;
	}
}