main#privacy {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;

	> #description {
		padding: 0 1rem 1rem 1rem;
	}
}